<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="icon" href="/assets/favicon.ico" type="image/x-icon">
  <link rel="manifest" href="/assets/site.webmanifest">
  <link rel="apple-touch-icon" href="/assets/favicon/apple-touch-icon.png">
  <title>TEMPLATE WEBSITE</title>
  <link rel="stylesheet" href="/css/bundle.css" />
  <link href="https://unpkg.com/aos@2.3.4/dist/aos.css" rel="stylesheet">
    <title>{{ title or site.title }}</title>
  <meta name="description" content="{{ description or site.description | safe }}">
</head>

<body class="font-outfit">
  {% include "header/header.njk" %}
  {{ content | safe }}
  {% include "footer/footer.njk" %}

  <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
  <script src="js/script.js" defer></script>
  <script>
    AOS.init({
      duration: 800,
      easing: 'ease-in-out',
      once: true
    });
  </script>
</body>

</html>