---
layout: base/base.njk
title: Home
---
<section class="relative bg-[url(/assets/images/landing.png)] bg-no-repeat bg-cover bg-center">
  <div class="bg-[#001125]/50">
    <div class="container mx-auto">
      <div class="flex flex-col gap-[80px] py-[100px]">
        <h1 class="heading-1 text-navy-0">Powering Northern Ireland with Expert Solar Solutions.</h1>
        <div class="flex flex-col lg:flex-row gap-[12px]">
          <div
            class="flex flex-col p-[24px] gap-[40px] border-[1px] border-navy-0 rounded-[24px] w-full bg-navy-1000/80 text-navy-0">
            <div class="flex flex-col gap-[12px]">
              <img src="./assets/icons/domestic.svg" class="w-[32px]" />
              <div>
                <p class="text-[18px] font-extralight text-navy-0">Solutions for</p>
                <p class="text-[36px] font-normal text-navy-0">Domestic</p>
              </div>
            </div>
            <div class="flex gap-[8px]">
              <a class="text-[18px] font-light text-navy-0 leading-[24px] tracking-[0]">Learn more</a>
              <img src="./assets/icons/arrow.svg" class="w-[16px]" />
            </div>
          </div>
          <div
            class="flex flex-col p-[24px] gap-[40px] border-[1px] border-navy-0 rounded-[24px] w-full bg-navy-1000/80 text-navy-0">
            <div class="flex flex-col gap-[12px]">
              <img src="./assets/icons/commercial.svg" class="w-[32px]" />
              <div>
                <p class="text-[18px] font-extralight text-navy-0">Solutions for</p>
                <p class="text-[36px] font-normal text-navy-0">Commercial</p>
              </div>
            </div>
            <div class="flex gap-[8px]">
              <a class="text-[18px] font-light text-navy-0 leading-[24px] tracking-[0]">Learn more</a>
              <img src="./assets/icons/arrow.svg" class="w-[16px]" />
            </div>
          </div>
          <div
            class="flex flex-col p-[24px] gap-[40px] border-[1px] border-navy-0 rounded-[24px] w-full bg-navy-1000/80 text-navy-0">
            <div class="flex flex-col gap-[12px]">
              <img src="./assets/icons/agriculture.svg" class="w-[32px]" />
              <div>
                <p class="text-[18px] font-extralight text-navy-0">Solutions for</p>
                <p class="text-[36px] font-normal text-navy-0">Agriculture</p>
              </div>
            </div>
            <div class="flex gap-[8px]">
              <a class="text-[18px] font-light text-navy-0 leading-[24px] tracking-[0]">Learn more</a>
              <img src="./assets/icons/arrow.svg" class="w-[16px]" />
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="bg-navy-1000">
  <div class="container">
    <div class="flex flex-col gap-[40px] py-[100px]">
      <h2 class="heading-2 text-cyan-1000">Trusted, Experienced, People-Focused</h2>
      <p class="body-text text-cyan-0">At Premier Electrical Group, we’re proud to be one of Northern Ireland’s
        leading solar and electrical
        specialists. With years of experience, a dedicated local team, and a reputation for honest, professional
        service, we help homes, businesses, and agricultural properties take control of their energy.
      </p>
      <p class="body-text text-cyan-0">
        From expert solar panel installations to EV chargers, heat pumps, and electrical maintenance, we provide
        reliable, future-focused solutions, always delivered with care, technical expertise, and a friendly,
        people-first approach. Whether you’re exploring renewable energy for the first time or looking to upgrade your
        existing system, we’re here to guide you every step of the way.</p>
    </div>
    <hr class="text-dark-blue-200 border-[1px]" />
</section>

<section class="bg-navy-1000">
  <div class="container">
    <div class="flex flex-col lg:flex-row justify-between gap-[80px] py-[100px]">
      <div class="flex flex-col flex-1 gap-[40px] h-full lg:sticky lg:top-[100px]">
        <div class="flex flex-col gap-[24px]">
          <h2 class="heading-2 text-cyan-1000">Why go solar?</h2>
          <p class="body-text text-cyan-0">Solar energy is a smart investment for your property, your finances, and the
            planet. Here’s how we help you
            make the most of it:</p>
        </div>
        <button class="button-outline opacity-60 self-start">Speak to our Expert Team</button>
      </div>

      <div class="flex flex-col gap-[60px] flex-1">
        <div class="flex flex-col gap-[20px]">
          <div class="flex flex-col gap-[12px]">
            <img src="./assets/icons/piggy-bank.svg" class="w-[36px] text-cyan-1000" />
            <h3 class="heading-3 text-cyan-1000">Lower Electricity Bills</h3>
          </div>
          <p class="body-text-light text-cyan-0">Reduce your energy costs and take control of your electricity spend.
          </p>
        </div>
        <div class="flex flex-col gap-[20px]">
          <div class="flex flex-col gap-[12px]">
            <img src="./assets/icons/cloud.svg" class="w-[36px] text-cyan-1000" />
            <h3 class="heading-3 text-cyan-1000">Reduce Your Emissions</h3>
          </div>
          <p class="body-text-light text-cyan-0">Generate clean, renewable energy and lower your environmental impact.
          </p>
        </div>
        <div class="flex flex-col gap-[20px]">
          <div class="flex flex-col gap-[12px]">
            <img src="./assets/icons/battery.svg" class="w-[36px] text-cyan-1000" />
            <h3 class="heading-3 text-cyan-1000">Your Path Towards Energy Independence</h3>
          </div>
          <p class="body-text-light text-cyan-0">Reduce reliance on the grid with smart, self-sufficient energy
            solutions.
          </p>
        </div>
        <div class="flex flex-col gap-[20px]">
          <div class="flex flex-col gap-[12px]">
            <img src="./assets/icons/chart.svg" class="w-[36px] text-cyan-1000" />
            <h3 class="heading-3 text-cyan-1000">Improve Your Property’s EPC Rating</h3>
          </div>
          <p class="body-text-light text-cyan-0">Boost your property’s energy rating and long-term value.
          </p>
        </div>
        <div class="flex flex-col gap-[20px]">
          <div class="flex flex-col gap-[12px]">
            <img src="./assets/icons/bank-note.svg" class="w-[36px] text-cyan-1000" />
            <h3 class="heading-3 text-cyan-1000">Low Maintenance Costs</h3>
          </div>
          <p class="body-text-light text-cyan-0">Enjoy reliable solar performance with minimal ongoing upkeep.
          </p>
        </div>
        <div class="flex flex-col gap-[20px]">
          <div class="flex flex-col gap-[12px]">
            <img src="./assets/icons/time.svg" class="w-[36px] text-cyan-1000" />
            <h3 class="heading-3 text-cyan-1000"> </h3>
          </div>
          <p class="body-text-light text-cyan-0">Fast, professional installation with minimal disruption to your
            property.
          </p>
        </div>

      </div>

    </div>
</section>

<section class="rgba(254, 254, 254, 1)">
  <div class="container">
    <div class="flex flex-col items-center justify-center gap-[100px] py-[100px]">
      <h2 class="heading-2 text-navy-1000">RENDER</h2>
    </div>
  </div>
  <hr class="text-dark-blue-200 border-[1px]" />
</section>

<section class="bg-white py-[100px]">
  <div class="container mx-auto px-[20px]">
    <div class="grid grid-cols-2 lg:grid-cols-4 gap-[40px] justify-items-center items-center">
      <img src="./assets/images/mcsLogo.png" class="w-[111px]" />
      <img src="./assets/images/reccLogo.png" class="w-[111px]" />
      <img src="./assets/images/niceicLogo.png" class="w-[111px]" />
      <img src="./assets/images/SSIPLogo.png" class="w-[111px]" />
    </div>
  </div>
</section>


<section class="bg-navy-1000">
  <div class="container mx-auto">
    <div class="relative gap-[32px] py-[160px] h-497px">

      <button onclick="plusSlides(-1)"
        class="prev absolute left-4 top-1/2 transform -translate-y-1/2 text-navy-0 text-3xl z-10">
        &#10094;
      </button>

      <button onclick="plusSlides(1)"
        class="next absolute right-4 top-1/2 transform -translate-y-1/2 text-navy-0 text-3xl z-10">
        &#10095;
      </button>

      <div class="w-full flex justify-center">
        <div class="mySlides w-full px-4">
          <div class="max-w-2xl mx-auto">
            <blockquote class="text-[18px] font-semibold text-navy-0">
              "Having dealt with a number of companies who were quite clearly Sales rather than Engineering focused it
              was such a pleasure to deal with Premier Electrical Group for the install of our solar system and battery.
              Every query dealt with in a timely matter at an excellent price point and the lads on install day were
              highly efficient. Very happy with our system and overall experience. Highly recommend"
            </blockquote>
          </div>
        </div>

        <div class="mySlides fade hidden w-full px-4">
          <div class="max-w-2xl mx-auto">
            <blockquote class="text-[18px] font-semibold text-navy-0">
              "After initial contact we were visited by Brendan. We were offered several options and were really pleased
              with the finished job. The panels were erected in about 4 hours and we are really happy with the work
              completed. A really tidy job. No problem in recommending Premier"
            </blockquote>
          </div>
        </div>

        <div class="mySlides fade hidden w-full px-4">
          <div class="max-w-2xl mx-auto">
            <blockquote class="text-[18px] font-semibold text-navy-0">
              "Premier Electrical Group are local to me and had a great reputation. We obtained a new home and got Solar
              panels put on. The quote, job and service was all done very efficiently by them. I would highly recommend
              this company to anyone needing anything electrical done.
              Brendan and Mark are both constructive, informative, and courteous part of the team."
            </blockquote>
          </div>
        </div>
      </div>
    </div>
    <hr class="text-dark-blue-200 border-[1px]" />
  </div>
</section>


<section class="bg-navy-1000">
  <div class="container mx-auto gap-[32px] py-[100px]">
    <form class="mx-auto gap-[16px]">
      <div class="flex flex-col gap-[32px]">
        <h3 class="heading-4 text-cyan-1000 mb-6">Get in Touch</h3>
      </div>

    <div class="flex flex-col lg:flex-row gap-[32px]">
      <div class="flex flex-col w-full lg:w-1/2 gap-[32px]">
        <div class="input-group">
          <label for="name" class="block body-text-footer text-navy-0">Name*</label>
          <input type="text" id="name" name="name" placeholder="Name" class="input input-placeholder text-navy-0" />
        </div>
        
        <div class="flex flex-col gap-[16px]">
          <div class="input-group">
            <label for="email" class="block body-text-footer text-navy-0">Email*</label>
            <input type="text" id="email" name="email" placeholder="Email" class="input input-placeholder text-navy-0" />
          </div>

          <div class="flex items-center space-x-2">
            <input type="checkbox" id="agree" name="agree" class="bg-navy-600 border-navy-600 rounded text-navy-0" />
            <label for="agree" class="body-text-footer text-navy-0">Sign up for news and updates</label>
          </div>
        </div>

        <div class="input-group">
           <label for="phone" class="block body-text-footer text-navy-0">Phone*</label>
          <!-- <div class="flex gap-2"> -->
          <!-- <select id="countryCode" class="input input-placeholder">
            <option>Country</option>
          </select> -->

          <input
            type="tel"
            id="phone"
            name="phone"
            placeholder="Number"
            class="input input-placeholder text-navy-0"
          />
        <!-- </div> -->
        </div>

        <div class="input-group">
          <label for="mprn" class="block body-text-footer text-navy-0">Your MPRN Number</label>
          <input type="text" id="mprn" name="mprn" placeholder="MPRN Number" class="input input-placeholder text-navy-0" />
        </div>

        <div class="input-group">
          <label for="reference" class="block body-text-footer text-navy-0">Were you referred by a customer? Please share their name.</label>
          <input type="text" id="reference" name="reference" placeholder="Reference Name" class="input input-placeholder text-navy-0" />
        </div>

        </div>

        <div class="flex flex-col w-full lg:w-1/2 gap-[32px]">
          <div class="input-group">
            <label for="address" class="body-text-footer text-navy-0">Address*</label>
            <textarea id="address" name="address" rows="1" placeholder="Address Line 1" class="input input-placeholder text-navy-0"></textarea>
            <input id="town" name="town" rows="1" placeholder="Town/City" class="input input-placeholder text-navy-0">
            <input id="postcode" name="postcode" rows="1" placeholder="Postcode" class="input input-placeholder text-navy-0">
            <input id="county" name="county" rows="1" placeholder="County" class="input input-placeholder text-navy-0">
          </div>

          <div class="input-group">
            <label for="price" class="body-text-footer text-navy-0">On average, what do you spend on your monthly electric bill?</label>
            <div class="flex items-center input input-placeholder">
              <span class="body-text-footer text-navy-0 mr-4">£</span>
              <input
                type="text"
                name="price"
                id="price"
                class="input-group flex-1 text-navy-0"
                placeholder="00.00"
                aria-describedby="price-currency"
              />
            </div>
          </div>

          <div class="input-group">
            <label for="time" class="block body-text-footer text-navy-0">Do you have a preferred time of day to be contacted?</label>
            <input type="text" id="time" name="time" placeholder="Time" class="input input-placeholder text-navy-0" />
          </div>

          <div>
            <label for="hear" class="block body-text-footer text-navy-0">How did you hear about us?*</label>
            <input type="text" id="hear" name="hear" placeholder="e.g. Online, Friend"
              class="block w-full input input-placeholder text-navy-0" />
          </div>
        </div>
      </div>

      <div class="mt-6 pb-8 flex items-center justify-between gap-x-6">
        <div>
          <button class="button-primary">Submit</button>
        </div>
        <div>
          <p class="text-[18px] font-extralight text-navy-0">Required*</p>
        </div>
      </div>
    </form>
  </div>
</section>

<script>
  let slideIndex = 0;
  const slides = document.getElementsByClassName("mySlides");

  function showSlides(n) {
    slideIndex = n;

    if (n >= slides.length) slideIndex = 0;
    if (n < 0) slideIndex = slides.length - 1;

    for (let i = 0; i < slides.length; i++) {
      slides[i].classList.add("hidden");
      slides[i].classList.remove("block");
    }
    slides[slideIndex].classList.remove("hidden");
    slides[slideIndex].classList.add("block");
  }

  function plusSlides(n) {
    showSlides(slideIndex += n);
  }

  showSlides(slideIndex);
</script>