---
layout: base/base.njk
title: "Hello World"
description: "Hello"
permalink: index.html
---
<section>
    </br>
    <h1>Hello World</h1>
    <p>This is a sample page to demonstrate the use of the image shortcode.</p>
    </br>
    <h2>Sample Image</h2>
    <p>This is how you use the image shortcode:</p>
    {% image "src/assets/images/webbie-logo.png", "Description of image", "your-image-classes-here" %}
</section>